<h1>Variables</h1>

variable names:A variable can have a short name (like NTR and Charan) or 
a more descriptive name (age, carname, total_volume).
Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

In [8]:
#To execute this code press SHIFT + ENTER
rrrcollection = 1400.9
movie = "rrr"

In [9]:
type(movie)

str

In [10]:
print(movie)

rrr

In [12]:
print(rrrcollection)
print(movie)

1400.9
rrr

In [16]:
print("The movie name is",movie,"the collection is",rrrcollection,"cr")

The movie name is rrr the collection is 1400.9 cr

In [ ]:
movie = "RRR"

In [ ]:
print(movie)

In [17]:
print("The movie is",movie)

The movie is rrr

In [ ]:
print("rrr movie records")

In [25]:
age = 43
Age = 56
AGE = 58

In [26]:
print(AGE)

58

In [ ]:
#ramcharan="small letter lo rasanu"
#ramCharan="Capital C vadanu"

In [ ]:
#Legal variable names:
ramcharan = "Hero" ----PASS
ram_charan = "Hero"----PASS
_ram_charan = "Hero"---PASS
ramCharan = "Hero"-----PASS
RAMCHARAN = "Hero"-----PASS
ram3charan2 = "Hero"---PASS

#Illegal variable names:
2ramcharan= "Hero"
ram-charan = "Hero"
ram charan = "Hero sdhakshf"

<h1>comment

In [28]:





print("""
This is a multi line comment
1. first point
2. second point
""")

This is a multi line comment
1. first point
2. second point

<h1>Built-in Data Types</h1>

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:<br>
Text Type: 	str<br>
Numeric Types: 	int, float, complex<br>
Sequence Types: 	list, tuple, range<br>
Mapping Type: 	dict<br>
Set Types: 	set, frozenset<br>
Boolean Type: 	bool<br>
Binary Types: 	bytes, bytearray, memoryview<br>
None Type: 	NoneType<br>

In [ ]:
message="Welocome to python program"

In [ ]:
print(message)

In [ ]:
print("Welocome to python program")

In [ ]:
print('Welocome to python program')

In [ ]:
#king's horse
print("king's horse")

In [ ]:
India = 75

In [ ]:
print(India)

In [ ]:
Welcome = 25

In [ ]:
type("45")

In [ ]:
type(message)

In [ ]:
type("45.78")

In [ ]:
print

In [ ]:
type(India)

<h1>TYPE